# dependencies
/.idea
/.qodo
/.venv
/.vscode
/data_collector/msedgedriver.exe
__pycache__/
**/config.json
/cache
/geo-analytics-frontend/node_modules
**/*.config.js

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.qodo
